# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# VS Code
.vscode/

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
Thumbs.db
.DS_Store